@model IEnumerable<ClassLibrary.Entities.Fine>

@{
    ViewData["Title"] = "GetUserFines";
}

<h1>My Fines</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargeAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargeAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
        </tr>
}
    </tbody>
</table>
