@model IEnumerable<LeaseViewModel>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<a type="submit" asp-action="GetFines"> Get Fines</a>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Leases</h1>
                <br />
            </div>
            <div class="panel-body">
                <table class="table"  id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                Username
                            </th>
                            <th>
                                Book Title
                            </th>
                            <th>
                                Pickup Date
                            </th>
                            <th>
                                Return Date
                            </th>
                            <th>
                                Lease Time
                            </th>
                            <th>
                                On Going
                            </th>
                            <th>
                                Completed
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Book.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PickUpDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReturnDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LeaseTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OnGoing)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsCompleted)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="far fa-edit"></i>  Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-list"></i>  Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}