@model UserLeasesViewModel


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">My Leases </h1>
                <br />
            </div>
            <div class="panel-body">
                <table class="table table-hover" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                Book
                            </th>
                            <th>
                                Library
                            </th>
                            <th>
                                Pickup Date
                            </th>
                            <th>
                                Return Date
                            </th>
                            <th>
                                OnGoing
                            </th>
                            <th>
                                IsCompleted
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Leases)
                        {
                            var book = Model.Books.Where(b => b.Id == item.BookId).FirstOrDefault();
                            var library  = Model.Libraries.Where(b => b.Id == item.LibraryId).FirstOrDefault();
                            <tr>
                                <td>
                                    <img src="@Url.Content(book.ImageURL)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => library.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PickUpDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReturnDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OnGoing)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsCompleted)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}
