@model WordsmithWarehouse.Models.BookViewModel


@{
    ViewData["Title"] = "Create";
}


<h1>Create Book</h1>

<hr />

<form asp-action="Create" enctype="multipart/form-data">


    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col" style="border-right:inset">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtitle" class="control-label"></label>
                <input asp-for="Subtitle" class="form-control" />
                <span asp-validation-for="Subtitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <select asp-for="AuthorId" asp-items="Model.Authors" class="form-control"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailableOnline" /> @Html.DisplayNameFor(model => model.IsAvailableOnline)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailablePhysical" /> @Html.DisplayNameFor(model => model.IsAvailablePhysical)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col">
            @{
                for (int i = 0; i < Model.Tags.Count; i++)
                {
                    <label>
                    @Html.DisplayName(Model.Tags[i].Name)
                        <input asp-for="@Model.Tags[i].isActive" type="checkbox"/>
                        <input asp-for="@Model.Tags[i].Name" type="hidden" value="@Model.Tags[i].Name"/>
                    </label>
                }
            }
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<br />


<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

