@model WordsmithWarehouse.Models.DetailsBookViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <input asp-for="User.ImageURL" type="hidden" />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="far fa-edit"></i>Edit</a> |
        <a asp-action="Index" class="btn btn-info"><i class="fas fa-chevron-left"></i> Back to List</a> |
        <a id="reserveButton" class="btn btn-dark" style="color:azure"><i class="fas fa-plus"></i> Reserve</a>
    </div>
    <hr />
    <dl class="row">
        <div class="col">
            <div class="row">
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Subtitle)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Subtitle)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.ISBN)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.ISBN)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Author.Name)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.IsAvailableOnline)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.IsAvailableOnline)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.IsAvailablePhysical)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.IsAvailablePhysical)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Tags)
                </dt>
                @if (Model.Tags.Count > 0)
                {
                    string tags = "";
                    for (int i = 0; i < Model.Tags.Count; i++)
                    {
                        if (!Model.Tags[i].isAdmin)
                        {
                            tags += Model.Tags[i].Name + " | ";
                        }

                    }
                    <dd class="col-10">
                        @tags
                    </dd>
                }
                else
                {
                    <dd class="col-10">
                        n/a
                    </dd>
                }
            </div>
        </div>
        <div class="col-4">
            @if (!string.IsNullOrEmpty(Model.ImageURL))
            {
                <img src="@Url.Content(Model.ImageURL)" alt="Image" />
            }
        </div>
    </dl>
    <hr />
    <div id="commentSection">
        <div class="row">
            <post-template></post-template>
        </div>
        <hr />
        <div class="row" v-for="i in comments" style="margin-bottom:70px; margin-left:25px">
            <div class="row">
                <div class="col">
                    @*image*@
                    <img :src="getUserImage(i.userImage)" style="width:75px; height:75px; border-radius:100%" id="imageSource" />
                    <div style="padding-top:10px; padding-left:11px" v-if="verifyButtons(i.userIdString)">
                        <div class="row">
                            <button type="button" style="background-color:transparent; outline-color:transparent" class="btn btn-light"><i class="far fa-edit" style="color: #3e4274;"></i></button>
                            <button type="button" style="background-color:transparent; outline-color:transparent" class="btn btn-light"><i class="far fa-minus-square" style="color: #d21414;"></i></button>
                        </div>
                    </div>
                </div>
                <div  style="text-align: left; max-width:800px">
                    @*name/date/rating*@ 
                    <h5>{{i.name}}</h5>
                    <h6 title="{{getHours(i.dateCreated)}}">{{getSimplifiedTime(i.dateCreated)}}</h6>
                    <h6> Rating: {{i.rating}}/10</h6>
                    <p><cite>"{{i.text}}"</cite></p>
                </div>
            </div>
        </div>

    </div>


</div>

<template id="post-template">

    <div class="row" style="align-content:start; padding-left:45px">
        <div>
            <div class="col" style="text-align: left">
                @*name/date/rating*@
                <h5 v-model="name">@this.User.Identity.Name</h5>
            </div>
            <div class="col-2">
                @*image*@
                <img src="@Url.Content(Model.User.ImageURL)" style="width:75px; max-height:75px; border-radius:100%" />
            </div>
        </div>

        <div>
            @*comment*@
            <form asp-action="Details" style="width:700px">
                <textarea asp-for="CurrentUserComment" class="form-control" rows="5" id="comment"></textarea>
                <div col-7>
                    <button class="btn btn-outline-warning" type="button" v-on:click="clearComment()" style="border-radius:15px">Cancel</button>
                    <button class="btn btn-light" style="border-radius:15px" type="submit">Post</button>
                </div>
            </form>

        </div>
        <div style="padding-left:15px; padding-top:30px">
            <h4>Rating</h4>
            <input type="text" asp-for="CurrentUserCommentRating" style="width: 45px; max-height:10px" /> /10
        </div>
    </div>
</template>

@section scripts{

    @if (this.User.Identity.IsAuthenticated)
    {
        @Html.Hidden("userId", Model.User.Id);
    }
    <script>
        var commentData = @Html.Raw(Json.Serialize(Model.Comments));
        var userData = @Html.Raw(Json.Serialize(Model.Users));
    </script>
    <script src="~/js/CommentSection.js"> </script>
}

