@model WordsmithWarehouse.Models.BookViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
        <a asp-action="Index" class="btn btn-info">Back to List</a> |
        <a id="reserveButton" class="btn btn-dark" style="color:azure">Reserve</a>
    </div>
    <hr />
    <dl class="row">
        <div class="col">
            <div class="row">
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Subtitle)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Subtitle)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.ISBN)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.ISBN)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Author.Name)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.IsAvailableOnline)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.IsAvailableOnline)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.IsAvailablePhysical)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.IsAvailablePhysical)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Tags)
                </dt>
                @if (Model.Tags.Count > 0)
                {
                    string tags = "";
                    for (int i = 0; i < Model.Tags.Count; i++)
                    {
                        if (!Model.Tags[i].isAdmin)
                        {
                            tags += Model.Tags[i].Name + " | ";
                        }
                        
                    }
                    <dd class="col-10">
                        @tags
                    </dd>
                }
                else
                {
                    <dd class="col-10">
                        n/a
                    </dd>
                }
            </div>
        </div>
        <div class="col-4">
                @if (!string.IsNullOrEmpty(Model.ImageURL))
                {
                    <img src="@Url.Content(Model.ImageURL)" alt="Image" />
                }
        </div>
    </dl>
</div>

@section scripts{
    <script>
        var bookcount = 0;
        var reserveButton = document.getElementById("reserveButton");

        reserveButton.addEventListener("click", function () {
            bookcount += 1;

            document.getElementById("bookcountDisplay").innerHTML = bookcount;
        });
    </script>
};

