@model List<WordsmithWarehouse.Models.BookViewModel>

@{
    ViewData["Title"] = "SearchBooks";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
    <div class="row justify-content-center">
        <div class="col-8">
            <div style="padding-bottom: 70px; padding-top: 40px;">
                <input id="myInput" class="form-control" type="text" placeholder="Search for a book..." style="width: 100%;">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <h1 style="text-align: center">Filters</h1>
            <table border="1" title="">
                @{
                    var book = Model[1];
                    if (book.Tags != null)
                    {
                        for (int i = 0; i < book.Tags.Count; i++)
                        {
                            <label class="inputClassName row">
                                @Html.DisplayName(book.Tags[i].Name)&thinsp;
                                <input asp-for="@book.Tags[i].isActive" type="checkbox" data-tagtype="@book.Tags[i].Name" />
                                <input asp-for="@book.Tags[i].Name" type="hidden" value="@book.Tags[i].Name" />
                                <input asp-for="@book.Tags[i].Id" type="hidden" value="@book.Tags[i].Id" />
                            </label>
                        }
                    }
                }
            </table>
        </div>
        <div class="col">
            <div class="grid-container">
                @foreach (var item in Model)
                {
                    <div class="item" data-tags="@string.Join(",", item.Tags.Select(tag => tag.Name))">
                        @if (!string.IsNullOrEmpty(item.ImageURL))
                        {
                            <div class="item-content">
                                <a asp-action="Details" asp-route-id="@item.Id"><img src="@Url.Content(item.ImageURL)" alt="Image" style="width:200px;height:150px;max-width:100%;height:auto"></a>
                                <div class="book-title">
                                    <a asp-action="Details" asp-route-id="@item.Id" style="color:black">@Html.DisplayFor(modelItem => item.Title)</a>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".item").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>


