@model IEnumerable<ClassLibrary.Entities.Library>

@{
    ViewData["Title"] = "ListAllLibraries";
}

<h1>All of our Libraries</h1>
<div class="card-container" style="display:flex;flex-wrap:wrap;">
    @foreach (var item in Model)
    {
        <div class="card" style="width: calc(25% - 20px);margin: 10px;border: 1px solid #ccc;border-radius: 5px;padding: 10px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);background-color: #fff;box-sizing: border-box;">
            <div class="card-header" style="background-color: #333;color: #fff;padding: 10px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                <h4>@item.Name</h4>
            </div>
            <div class="card-body" style="padding: 10px;">
                <p><b>Country:</b> @item.Country</p>
                <p><b>Region:</b> @item.Region</p>
                <p><b>City:</b> @item.City</p>
                <p><b>Address:</b> @item.Adress</p>
                <p><b>Postal Code:</b> @item.PostalCode</p>
                <p><b>Phone Number:</b> @item.PhoneNumber</p>
                <p><b>Opening Hour:</b> @item.OpeningHour</p>
                <p><b>Closing Hour:</b> @item.ClosingHour</p>
            </div>
        </div>
    }
</div>
