@model IEnumerable<WordsmithWarehouse.Models.ForumViewModel>

<div>
    <div class="row" style="padding-top: 15px; display: flex; justify-content: space-between;">
        <div class="col-10">
            <h2>Welcome to the WordsmihtWarehouse Forum!</h2>
            <h5>Here you can discuss everything you want with other books enthusiasts. Just create a topic of discussion and explore others opinions on that matter!</h5>
        </div>
        @if (this.User.Identity.IsAuthenticated)
        {
            <div class="col-2 text-right">
                <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Create new topic</a>
            </div>
        }
    </div>
    <br />
    <div>
        @foreach (var forum in Model.OrderByDescending(m => m.CreateDate))
        {
            <div class="card mb-6" style="border-style:inset; border-color:black;">
                <a asp-action="Topic" asp-route-id="@forum.Id">
                    <div class="card-header" style="background-color:#96a2b2; color:black;">
                    <i class="fas fa-user"></i> @forum.Username
                    <p class="float-right"><i class="fas fa-comments"></i> @forum.MessageCount</p>
                </div>
                    <div class="card-body" style="background-color:#ffffff; color:black;">

                        <h4 style="padding-left:20px; color:black;" class="card-title">@forum.Title</h4>
                </div>
                    <div class="card-footer" style="background-color:#96a2b2; color:black;">
                    <i class="fas fa-calendar-alt"></i> @forum.CreateDate
                </div>
                </a>
            </div>
            <br />
        }
    </div>
</div>


